@font-face {
  font-family: montserrat;
  src: url('../fonts/montserrat/montserrat-regular.eot');
  src: url('../fonts/montserrat/montserrat-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-regular.woff2') format('woff2'), url('../fonts/montserrat/montserrat-regular.woff') format('woff'), url('../fonts/montserrat/montserrat-regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url('../fonts/montserrat/montserrat-light.eot');
  src: url('../fonts/montserrat/montserrat-light.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-light.woff2') format('woff2'), url('../fonts/montserrat/montserrat-light.woff') format('woff'), url('../fonts/montserrat/montserrat/montserrat-light.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: montserrat;
  src: url('../fonts/montserrat/montserrat-extralight.eot');
  src: url('../fonts/montserrat/montserrat-extralight.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat/montserrat-extralight.woff2') format('woff2'), url('../fonts/montserrat/montserrat-extralight.woff') format('woff'), url('../fonts/montserrat/montserrat/montserrat-extralight.ttf') format('ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url('../fonts/raleway/raleway-regular.eot');
  src: url('../fonts/raleway/raleway-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway/raleway-regular.woff2') format('woff2'), url('../fonts/raleway/raleway-regular.woff') format('woff'), url('../fonts/raleway/raleway-regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url('../fonts/raleway/raleway-medium.eot');
  src: url('../fonts/raleway/raleway-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway/raleway-medium.woff2') format('woff2'), url('../fonts/raleway/raleway-medium.woff') format('woff'), url('../fonts/raleway/raleway-medium.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url('../fonts/raleway/raleway-extrabold.eot');
  src: url('../fonts/raleway/raleway-extrabold.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway/raleway-extrabold.woff2') format('woff2'), url('../fonts/raleway/raleway-extrabold.woff') format('woff'), url('../fonts/raleway/raleway-extrabold.ttf') format('ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: raleway;
  src: url('../fonts/raleway/raleway-semibold.eot');
  src: url('../fonts/raleway/raleway-semibold.eot?#iefix') format('embedded-opentype'), url('../fonts/raleway/raleway-semibold.woff2') format('woff2'), url('../fonts/raleway/raleway-semibold.woff') format('woff'), url('../fonts/raleway/raleway-semibold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: roboto;
  src: url('../fonts/roboto/roboto-regular.eot');
  src: url('../fonts/roboto/roboto-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/roboto-regular.woff2') format('woff2'), url('../fonts/roboto/roboto-regular.woff') format('woff'), url('../fonts/roboto/roboto-regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}
a {
  text-decoration: none;
}
.btn {
  font-family: "raleway", "verdana", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 14px;
  height: 53px;
  width: 170px;
  background-color: #998675;
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  box-shadow: 0 3px 0px 0px #736357;
}
.btn:hover {
  background-color: #b79d86;
  cursor: pointer;
}
.btn:active {
  background-color: #998675;
}
.header {
  margin: 0 auto;
  width: 1920px;
  padding-top: 28px;
  box-sizing: border-box;
  min-height: 1024px;
  background-color: #555556;
  background-image: url(../img/header.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.header-top {
  margin: 0 0 286px;
  min-height: 56px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header-top-logo {
  margin: 0 219px 0 375px;
  font-family: "raleway", "verdana", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.header-top-logo:hover {
  color: #c7b299;
}
.header-top-logo:active {
  color: #fff;
}
.header-top-logo-svg {
  fill: currentColor;
  width: 64px;
  height: 56px;
}
.header-top-nav {
  font-family: "montserrat", "verdana", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
}
.header-top-nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.header-top-nav-list-item {
  margin: 0 30px 0 0;
}
.header-top-nav-list-item:last-child {
  margin-right: 63px;
}
.header-top-nav-list-item-a {
  color: #fff;
}
.header-top-nav-list-item-a:hover {
  color: #c7b299;
}
.header-top-nav-list-item-a:active {
  color: #fff;
}
.header-top-basket {
  margin: 0 28px 0 0;
  padding: 0;
  height: 24px;
  width: 18px;
  background-color: transparent;
  outline: none;
  border: none;
  color: #fff;
}
.header-top-basket:hover {
  color: #c7b299;
}
.header-top-basket:active {
  color: #fff;
}
.header-top-basket-svg {
  fill: currentColor;
  width: 18px;
  height: 24px;
}
.header-top-search {
  position: relative;
}
.header-top-search-icon-svg {
  fill: #fff;
}
.header-top-search-icon-svg:hover {
  fill: #c7b299;
}
.header-top-search-icon-svg:active {
  fill: #fff;
}
.header-top-search-input {
  outline: none;
  width: 0;
  height: 25px;
  border: none;
  background-color: transparent;
  transition: width 1s ease-out, left 1s ease-out, background-color 1s ease-out, z-index 2s ease-out;
  position: absolute;
  bottom: -50px;
  left: 25px;
  z-index: -1;
}
.header-top-search-input:focus {
  width: 350px;
  height: 25px;
  left: -325px;
  z-index: 2;
  background-color: #fff;
  transition: width 1s ease-out, left 1s ease-out, background-color 1s ease-out;
}
.header-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1620px;
  min-height: 601px;
  margin: 0 auto;
  position: relative;
}
.header-slider-btn {
  margin: 93px 0 0;
  width: 54px;
  height: 54px;
  border: none;
  background-color: transparent;
  outline: none;
  border-top: 2px solid #a3a2a0;
  border-right: 2px solid #a3a2a0;
}
.header-slider-btn:hover {
  border-color: #c7b299;
  cursor: pointer;
}
.header-slider-btn:active {
  border-color: #a3a2a0;
}
.header-slider-btn-left {
  transform: rotate(-135deg);
}
.header-slider-btn-right {
  transform: rotate(45deg);
}
.header-slider-txt {
  width: 588px;
  color: #fff;
  text-align: center;
}
.header-slider-txt-design {
  font-family: "raleway", "verdana", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 36px;
}
.header-slider-txt-template {
  display: block;
  margin: 15px 0 29px;
  font-family: "raleway", "verdana", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 52px;
}
.header-slider-txt-p {
  margin: 0 0 52px;
  font-family: "montserrat", "verdana", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
}
.header-slider-pagination {
  align-self: flex-end;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 14px;
}
.header-slider-pagination-item {
  margin: 0 10px 0 0;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #969493;
  border: 2px solid transparent;
}
.header-slider-pagination-item:last-child {
  margin: 0;
}
.header-slider-pagination-item:hover {
  border: 2px solid #d3c1ad;
  background-color: transparent;
  transform: scale(1.2);
}
.header-slider-pagination-item:active {
  border: 2px solid transparent;
  background-color: #969493;
}
.main {
  width: 1920px;
  margin: 0 auto;
}
.main-features {
  padding-top: 80px;
  padding-bottom: 80px;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main-features-item {
  margin: 0 30px 0 0;
  height: 180px;
  width: 269px;
  text-align: center;
  color: #555555;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}
.main-features-item:last-child {
  margin: 0;
}
.main-features-item:hover {
  color: #c7b299;
}
.main-features-item-svg {
  fill: currentColor;
}
.main-features-item-title {
  display: block;
  width: 100%;
  font-family: "raleway", "verdana", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
}
.main-features-item-txt {
  margin: 0;
  font-family: "montserrat", "verdana", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  color: #8c8c8c;
}
.main-features-item:after {
  content: "";
  height: 3px;
  width: 70px;
  background-color: #f1eee9;
}
.main-features-item:hover:after {
  background-color: #c7b299;
}
.main-screenshots {
  width: 100%;
  min-height: 700px;
  padding-top: 80px;
  box-sizing: border-box;
  background-color: #fbfaf8;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.main-screenshots-title {
  display: block;
  text-align: center;
  font-family: "raleway", "verdana", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  color: #555;
}
.main-screenshots-txt {
  margin: 30px 0 40px;
  width: 765px;
  text-align: center;
  font-family: "montserrat", "verdana", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #8c8c8c;
}
.main-screenshots-images {
  width: 1232px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.main-screenshots-images-left {
  width: 770px;
  height: 402px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.main-screenshots-images-left:hover {
  z-index: 4;
}
.main-screenshots-images-center {
  display: block;
  width: 770px;
  height: 482px;
  z-index: 3;
}
.main-screenshots-images-right {
  width: 770px;
  height: 402px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.main-screenshots-images-right:hover {
  z-index: 4;
}
.main-aside {
  padding: 47px 374px;
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
  background-color: #261e1b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-aside-txt {
  width: 532px;
}
.main-aside-txt-title {
  font-family: "raleway", "verdana", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  color: #fff;
}
.main-aside-txt-title-color {
  color: #c7b299;
}
.main-aside-txt-p {
  margin: 13px 0 0;
  font-family: "montserrat", "verdana", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  color: #615855;
}
.main-projects {
  padding: 80px 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 1162px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-projects-title {
  font-family: "raleway", "verdana", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  color: #555;
}
.main-projects-p {
  margin: 0;
  width: 770px;
  text-align: center;
  font-family: "montserrat", "verdana", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #8c8c8c;
}
.main-projects-buttons-item {
  margin: 0 10px 0 0;
  padding: 10px 20px;
  border: 2px solid #ebebeb;
  outline: none;
  border-radius: 3px;
  font-family: "montserrat", "verdana", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #8c8c8c;
  background-color: #fff;
}
.main-projects-buttons-item:hover {
  color: #fff;
  background-color: #998675;
}
.main-projects-buttons-item:hover:active {
  color: #8c8c8c;
  background-color: #fff;
}
.main-projects-buttons-item:first-child {
  padding: 10px 27px;
}
.main-projects-buttons-item:last-child {
  margin: 0;
}
.main-projects-elements {
  width: 1170px;
  min-height: 700px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
}
.main-projects-elements-item {
  width: 372px;
  position: relative;
}
.main-projects-elements-item-img {
  width: 372px;
  display: block;
}
.main-projects-elements-item:hover .main-projects-elements-item-img {
  filter: brightness(30%);
}
.main-projects-elements-item-txt {
  padding: 28px;
  box-sizing: border-box;
  height: 100px;
  background-color: #fbfaf8;
  position: relative;
}
.main-projects-elements-item-txt-title {
  margin: 0 0 10px;
  display: block;
  font-family: "raleway", "verdana", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #c7b299;
}
.main-projects-elements-item-txt-description {
  display: block;
  font-family: "montserrat", "verdana", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  color: #d1d1d1;
}
.main-projects-elements-item-txt:before {
  content: "";
  border: 20px solid transparent;
  border-bottom: 20px solid #fbfaf8;
  position: absolute;
  top: -40px;
  left: 20px;
}
.main-projects-elements-item:hover .main-projects-elements-item-txt {
  background-color: #362f2d;
}
.main-projects-elements-item:hover .main-projects-elements-item-txt:before {
  border-bottom-color: #362f2d;
}
.main-projects-elements-item:hover .main-projects-elements-item-txt-title {
  color: #fff;
}
.main-projects-elements-item:hover .main-projects-elements-item-txt-description {
  color: #c7b299;
}
.main-projects-elements-item-btn {
  display: none;
  position: absolute;
  top: 105px;
  width: 25px;
  background-color: transparent;
  outline: none;
  border: none;
}
.main-projects-elements-item-btn-link {
  height: 25px;
  background-image: url(../img/link.svg);
  left: 145px;
}
.main-projects-elements-item-btn-link:hover {
  background-image: url(../img/link-h.svg);
}
.main-projects-elements-item-btn-link:active {
  background-image: url(../img/link.svg);
}
.main-projects-elements-item-btn-loupe {
  height: 24px;
  background-image: url(../img/lupa.svg);
  left: 200px;
}
.main-projects-elements-item-btn-loupe:hover {
  background-image: url(../img/lupa-h.svg);
}
.main-projects-elements-item-btn-loupe:active {
  background-image: url(../img/lupa.svg);
}
.main-projects-elements-item:hover .main-projects-elements-item-btn {
  display: block;
}
.main-presentation {
  width: 100%;
  min-height: 707px;
  position: relative;
}
.main-presentation-video {
  width: 1920px;
  height: 707px;
  outline: none;
}
.main-presentation-video::-webkit-media-controls {
  filter: opacity(0%);
}
.main-presentation-video:focus::-webkit-media-controls {
  filter: opacity(100%);
}
.main-presentation-description {
  width: 560px;
  min-height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 208px;
  left: 680px;
}
.main-presentation-description-btn {
  margin: 0 0 43px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
}
.main-presentation-description-btn-svg {
  fill: #fff;
}
.main-presentation-description-title {
  margin: 0 0 26px;
  font-family: "raleway", "verdana", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  color: #fff;
}
.main-presentation-description-txt {
  margin: 0 0 41px;
  font-family: "montserrat", "verdana", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #fff;
  line-height: 28px;
  text-align: center;
}
.main-presentation-description-time {
  font-family: "montserrat", "verdana", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #c7b299;
}
.main-presentation-video:focus + .main-presentation-description {
  display: none;
}
.main-mobile {
  padding: 195px 0 0 875px;
  box-sizing: border-box;
  width: 100%;
  min-height: 695px;
  background-color: #fbfaf8;
  background-image: url(../img/mobile-bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.main-mobile-description {
  width: 665px;
  font-family: "montserrat", "verdana", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #8c8c8c;
}
.main-mobile-description-title {
  font-family: "raleway", "verdana", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  color: #555;
}
.main-mobile-description-txt {
  margin: 38px 0;
  line-height: 38px;
}
.main-mobile-description-list {
  margin: 0;
  list-style-type: none;
  line-height: 32px;
}
.main-mobile-description-list-item {
  padding: 0 0 0 58px;
  position: relative;
}
.main-mobile-description-list-item:before {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-image: url(../img/list.gif);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 4px;
  left: 13px;
}
.counter {
  margin: 0 auto;
  width: 1920px;
  padding: 60px;
  box-sizing: border-box;
  min-height: 300px;
  background-color: #2e221d;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.counter-item {
  width: 184px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter-item-icon {
  margin: 0 0 30px;
  fill: #c7b299;
}
.counter-item-amount {
  margin: 0 0 20px;
  font-family: "montserrat", "verdana", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 48px;
  color: #fff;
}
.counter-item-description {
  margin: 0 0 30px;
  font-family: "montserrat", "verdana", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  color: #c7b299;
}
.counter-item:after {
  content: "";
  width: 30px;
  height: 2px;
  background-color: #fff;
}
.posts {
  margin: 0 auto;
  padding: 80px 0;
  width: 1920px;
  min-height: 750px;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
.posts-title {
  width: 100%;
  text-align: center;
  font-family: "raleway", "verdana", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  color: #555;
}
.posts-txt {
  margin: 30px 560px 40px;
  width: 760px;
  text-align: center;
  font-family: "montserrat", "verdana", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  color: #8c8c8c;
  line-height: 28px;
}
.posts-item {
  width: 370px;
  position: relative;
}
.posts-item:nth-child(4) {
  margin: 0 30px 40px;
}
.posts-item-img {
  width: 370px;
  height: 220px;
  display: block;
}
.posts-item-description {
  padding: 30px;
  width: 100%;
  border: 1px solid #f8f8f8;
  border-top: none;
  box-sizing: border-box;
  font-family: "montserrat", "verdana", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
}
.posts-item-description-title {
  font-family: "raleway", "verdana", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: #555;
}
.posts-item-description-txt {
  margin: 20px 0 25px;
  color: #8c8c8c;
}
.posts-item-description-link {
  color: #c7b299;
  position: relative;
}
.posts-item-description-link:hover {
  color: #fff;
}
.posts-item-description-link:active {
  color: #c7b299;
}
.posts-item-description-link:after {
  content: "";
  display: block;
  border: 4px solid transparent;
  border-left: 5px solid #c7b299;
  position: absolute;
  right: -25px;
  bottom: 4px;
}
.posts-item-date {
  width: 50px;
  height: 60px;
  border-radius: 2px;
  position: absolute;
  left: 20px;
  top: 20px;
  color: #fff;
  text-align: center;
}
.posts-item-date-day {
  display: block;
  height: 35px;
  line-height: 35px;
  width: 100%;
  background-color: #363636;
  font-family: "montserrat", "verdana", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
}
.posts-item-date-month {
  display: block;
  height: 25px;
  line-height: 25px;
  width: 100%;
  font-family: "roboto", "verdana", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  background-color: #252525;
}
.posts-item:hover .posts-item-img {
  filter: brightness(30%);
}
.posts-item:hover .posts-item-description {
  background-color: #362f2d;
  border-color: #362f2d;
}
.posts-item:hover .posts-item-description-title {
  color: #c7b299;
}
.posts-item:hover .posts-item-description-txt {
  color: #fff;
}
.posts-item:hover .posts-item-date-day {
  background-color: #c7b299;
}
.posts-item:hover .posts-item-date-month {
  background-color: #a48d72;
}
.posts-battons {
  text-align: center;
  width: 100%;
}
.posts-battons-item {
  padding: 0;
  background-color: transparent;
  outline: none;
  border: none;
  align-self: flex-end;
}
.posts-battons-item-left {
  margin: 0 8px 0 0;
}
.posts-battons-item-icon {
  fill: #d2d2d2;
}
.posts-battons-item-icon:hover {
  fill: #cab69f;
}
.posts-battons-item-icon:active {
  fill: #d2d2d2;
}
