//out: null
@width-body: 1920px;
@header-height: 1024px;
@padding-top: 80px;
@padding-bott: 80px;
@bgc-header: #555556;
@montserrat: "montserrat",
"verdana",
sans-serif;
@raleway: "raleway",
"verdana",
sans-serif;
@regular: 400;
@light: 300;
@medium: 500;
@extrabold: 800;
@semibold: 600;
@bold: 700;
@extralight: 200;
@roboto: "roboto",
"verdana",
sans-serif;